In [63]:
"""About sheet format:
- sheet title should be aligned to center
- all columns should be aligned to the left
- empty line after sheet

Write at least 2 tests on your choose.
Links:
    - requests docs: https://docs.python-requests.org/en/latest/
    - beautiful soup docs: https://www.crummy.com/software/BeautifulSoup/bs4/doc/
    - lxml docs: https://lxml.de/
"""

import requests
from bs4 import BeautifulSoup as soup
import pandas as pd 

def get_page(url):
    web_page = soup(requests.get(url, headers={'User-Agent': 'Custom'}).content, "html.parser")
    return web_page

# body = get_page('https://finance.yahoo.com/most-active?offset=0&count=217')
body = get_page('https://finance.yahoo.com/most-active?offset=0&count=3')
quote_links = body.select('a[data-test="quoteLink"]')
stock_symbols = [link.text for link in quote_links]

stock_names = []
stock_countries = []
stock_employees = []
stock_ceo_names_dobs = []

stock_5_youngest_heap = []
stock_5_youngest_names = []

for symbol in stock_symbols:
    profile_page = get_page(f"https://finance.yahoo.com/quote/{symbol}/profile?p={symbol}").find('body')
    asset_profile = profile_page.select_one('div[data-test="asset-profile"] [data-test="qsp-profile"]')
   
    stock_name = asset_profile.select_one('h3').text.strip()
    stock_country = asset_profile.select_one('p a').previous_sibling.previous_sibling
    stock_num_employees = asset_profile.select_one('p:last-of-type span:last-of-type').text.replace(',', '')
    
    stock_ceo_table = profile_page.select_one('section.quote-subsection table tbody')

    stock_names.append(stock_name)
    stock_countries.append(stock_country)
    stock_employees.append(stock_num_employees)

    for stock_ceo in stock_ceo_table.select('tr'):
        stock_ceo_name = stock_ceo.select_one('td:first-child').text
        stock_ceo_dob = stock_ceo.select_one('td:nth-last-child(1)').text
        if stock_ceo_dob != "N/A":
            stock_ceo_dob = int(stock_ceo_dob)
    print(stock_5_youngest_heap)
                
    # stock_ceo_names_dobs.append(';'.join(stock_ceo_dict))

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [ ]:

new_df = pd.DataFrame({'Name': stock_names, 'Code': stock_symbols, 'Country': stock_countries, 'Employees': stock_employees, 'CEOs and DOB': stock_ceo_names_dobs})
new_df

                            Name  Code        Country Employees                                       CEOs and DOB
0  Alibaba Group Holding Limited  BABA          China    239740  Mr. Joseph C.  Tsai;Mr. Yong  Zhang;Mr. J. Mic...
1                      IAA, Inc.   IAA  United States      4816  Mr. John W. Kett;Ms. Susan L. Healy;Mr. Maju P...
2     Carnival Corporation & plc   CCL  United States     87000  Mr. Micky Meir Arison;Mr. Josh  Weinstein;Mr. ...

Mr. Joseph C.  Tsai;Mr. Yong  Zhang;Mr. J. Michael  Evans;Mr. Hong  Xu;Ms. Siying  Yu;Ms. Wenhong  Tong;Mr. Xiaofeng  Shao
Mr. John W. Kett;Ms. Susan L. Healy;Mr. Maju P. Abraham;Mr. Sidney  Peryar;Mr. Timothy  O'Day;Mr. Christopher  Carlson
Mr. Micky Meir Arison;Mr. Josh  Weinstein;Mr. David  Bernstein;Mr. Enrique  Miguez;Mr. Michael Olaf Thamm

In [67]:
with open('youngest_ceos_sheet', 'w', encoding="utf-8") as sheet1:
    sheet1.write("="*36)
    sheet1.write("5 stocks with the youngest CEOs")
    sheet1.write("="*36)
    sheet1.write("\n")
    sheet1.write("| Name        | Code | Country       | Employees | CEO Name                             | CEO Year Born |\n")
    sheet1.write("-"*105)
    # for row in new_df:
    #     sheet1.write(f"| {row['Code']} |\n")

TypeError: string indices must be integers, not 'str'